<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <p>Первое правило Бойцовского клуба: никому не рассказывать о Бойцовском клубе.</p>
            </li>
            <li>
                <p>Второе правило Бойцовского клуба: никогда никому не рассказывать о Бойцовском клубе.</p>
            </li>
            <li>
                <p>Третье правило Бойцовского клуба: в схватке участвуют только двое.</p>
            </li>
            <li>
                <p>Четвертое правило Бойцовского клуба: не более одного поединка за один раз.</p>
            </li>
            <li>
                <p>Пятое правило Бойцовского клуба: бойцы сражаются без обуви и голые по пояс.</p>
            </li>
            <li>
                <p>Шестое правило Бойцовского клуба: поединок продолжается столько, сколько потребуется.</p>
            </li>
            <li>
                <p>Седьмое правило Бойцовского клуба : если противник потерял сознание или делает вид, что потерял, или говорит «Хватит» — поединок окончен.</p>
            </li>
            <li>
                <p>Восьмое и последнее правило Бойцовского клуба : новичок обязан принять бой.</p>
            </li>
            <li>
                <p>Девятое правило Бойцовского клуба: никогда не программировать на Python</p>
            </li>
        </ul>
    </div>
</body>
</html>